<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>パスワードログイン</title>
</head>

<body>

    <h1>パスワードでログイン</h1>

    <form th:action="@{/login/one-factor/password}"
          method="post">

        <div>
            <label for="username">
                ユーザー名
            </label>

            <input
                type="text"
                id="username"
                name="username"
                required
                autocomplete="username">
        </div>

        <br>

        <div>
            <label for="password">
                パスワード
            </label>

            <input
                type="password"
                id="password"
                name="password"
                required
                autocomplete="current-password">
        </div>

        <br>

        <button type="submit">
            ログイン
        </button>

    </form>

    <br>

    <a th:href="@{/login/one-factor}">
        認証方法の選択に戻る
    </a>

    <br>

    <a th:href="@{/auth}">
        認証方式選択に戻る
    </a>

</body>

</html>