<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password認証</title>
</head>
<body>

<h1>二要素認証</h1>

<h2>第1段階：Password</h2>

<form th:action="@{/login/two-factor/password}" method="post">

    <div>
        <label>ユーザー名</label>
        <input type="text"
               name="username"
               required>
    </div>

    <br>

    <div>
        <label>パスワード</label>
        <input type="password"
               name="password"
               required>
    </div>

    <br>

    <p th:if="${error}"
       th:text="${error}">
    </p>

    <button type="submit">次へ</button>

</form>

</body>
</html>